<!-- <h1>New Track</h1>


<%= link_to 'Back', tracks_path %>

 -->

<div class="cont_principal">

  <div class="cont_centrar">
  <div class="cont_login">
    <%= render 'form', track: @track %>

    </div>

  </div>


</div>
