

    <!--main section-->
    <section class="bg-texture hero" id="main">
        <div class="container">
            <div class="row d-md-flex brand">
                <div class="col-md-6 hidden-sm-down wow fadeIn">
                  <%= image_tag "product.png", :class => "img-fluid mx-auto d-block"%>
                </div>
                <div class="col-md-6 col-sm-12 text-white wow fadeIn">
                    <h2 class="pt-4">Con Pixelmeters puedes<b class="text-primary-light"> Analizar y trackear </b>todo lo que quieras.</h2>
                    <p class="mt-5">
                      Ya sea desde obtener mas información de una campaña o calcular las ventas puedes hacerlo <b class="text-primary-light"> Gratuitamente</b> con nuestra herramienta.
                      <p>Registrate y empieza a trackear tus ingresos con nosotros</p>
                    </p>
                    <p class="mt-5">
                        <a href="#registrar" class="btn btn-primary mr-2 mb-2 page-scroll">Registrarme</a>
                        <a href="#features" class="btn btn-white mb-2 page-scroll">¿Como funciona?</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="scroll-downs">
          <a href="#features" class="page-scroll">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
        </a>
      </div>
    </section>

    <!--features-->
    <section class="bg-faded" id="features">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                    <h2 class="text-primary">Haz cosas impresionantes</h2>
                    <p class="lead mt-4">
                        Te explicamos como empezar a trackear con nosotros <br/>es muy fácil
                    </p>
                </div>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-md-4 wow fadeIn">
                    <div class="card">
                        <div class="card-block">
                            <div class="icon-box">
                                <em class="ion-person-add icon-md"></em>
                            </div>
                            <h6> Te registras en Pixelmeters</h6>
                            <p>
                              No te pediremos casi datos y tardaras menos de 1 minuto en registrarte.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn">
                    <div class="card">
                        <div class="card-block">
                            <div class="icon-box">
                                <em class="ion-plus-circled icon-md"></em>
                            </div>
                            <h6>Registras un track</h6>
                            <p>
                              Debes añadir un track para empezar a trackear y obtener resultados.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn">
                    <div class="card">
                        <div class="card-block">
                            <div class="icon-box">
                                <em class="ion-code-working icon-md"></em>
                            </div>
                            <h6>Añades el track</h6>
                            <p>
                              Debes añadir el link que te generaremos en el sitio que quieras trackear.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn">
                </div>
                <div class="col-md-4 wow fadeIn">
                    <div class="card">
                        <div class="card-block">
                            <div class="icon-box">
                                <em class="ion-happy icon-md"></em>
                            </div>
                            <h6>A empezar a trackear</h6>
                            <p>
                            A el instante podras hacer pruebas y comprobar que funciona correctamente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn">
                </div>

            </div>
        </div>
    </section>

    <!-- <section class="bg-alt p-0">
        <div class="container-fluid">
            <div class="row d-md-flex mt-5">
                <div class="col-sm-6 p-0 wow fadeInLeft">
                    <img class="img-fluid" src="https://onepagetemplates.com/demos/comply/img/product2.jpg" alt="Gallery">
                </div>
                <div class="col-sm-6 pl-5 pr-5 pt-5 pb-4 wow fadeInRight">
                    <h3><a href="#">What's New in Version 5.0?</a></h3>
                    <p class="lead pt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <ul class="pt-4 pb-3 list-default">
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aenean commodo ligula eget dolor.</li>
                        <li>Aenean massa.</li>
                        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        <li>Aenean commodo ligula eget dolor.</li>
                        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                    </ul>
                    <a href="#purchase" class="btn btn-primary mr-2 page-scroll">Get Started with Comply</a>
                </div>
            </div>
        </div>
    </section> -->

    <!--pricing-->
    <!-- <section class="bg-faded" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                    <h2 class="text-primary">Pricing</h2>
                    <p class="lead pt-3">
                        Our no-nonsense pricing.
                    </p>
                </div>
            </div>
            <div class="row d-md-flex mt-4 text-center">
                <div class="col-sm-4 mt-4 wow fadeIn">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title pt-4 text-orange">Basic</h5>
                            <h3 class="card-title text-primary pt-4">FREE</h3>
                            <p class="card-text text-muted pb-3 border-bottom">per month</p>
                            <ul class="list-unstyled pricing-list">
                                <li>Free setup</li>
                                <li>100MB storage</li>
                                <li>1GB bandwidth</li>
                                <li>Basic support</li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-radius">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-0 wow fadeIn">
                    <div class="card pt-4 pb-4">
                        <div class="card-block">
                            <h5 class="card-title pt-4 text-orange">Standard <small class="badge bg-primary small-xs">Popular</small></h5>
                            <h3 class="card-title text-primary pt-4"><sup>$</sup> 9.99</h3>
                            <p class="card-text text-muted pb-3 border-bottom">per month</p>
                            <ul class="list-unstyled pricing-list">
                                <li>Free setup</li>
                                <li>5GB storage</li>
                                <li>Unlimited bandwidth</li>
                                <li>Priority support</li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-radius">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-4 wow fadeIn">
                    <div class="card">
                        <div class="card-block">
                            <h5 class="card-title pt-4 text-orange">Advanced</h5>
                            <h3 class="card-title text-primary pt-4"><sup>$</sup> 19.99</h3>
                            <p class="card-text text-muted pb-3 border-bottom">per month</p>
                            <ul class="list-unstyled pricing-list">
                                <li>Free setup</li>
                                <li>Unlimited storage</li>
                                <li>Unlimited bandwidth</li>
                                <li>24/7 support</li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-radius">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--download-->
    <!-- <section class="bg-orange pt-0" id="download">
        <div class="container">
            <div class="row d-md-flex text-center wow fadeIn">
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-12">
                    <h5 class="text-primary">Download Our Mobile App</h5>
                    <p class="mt-4">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.
                    </p>
                    <p class="mt-5">
                        <a href="#" class="mr-2"><img src="https://onepagetemplates.com/demos/comply/img/google-play.png" class="store-img"/></a>
                        <a href="#"><img src="https://onepagetemplates.com/demos/comply/img/apple_store.png" class="store-img"/> </a>
                    </p>
                </div>
            </div>
        </div>
    </section> -->

    <!--team-->
    <!-- <section class="bg-alt" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                    <h2 class="text-primary">Our Team</h2>
                    <p class="lead pt-3">
                        Meet our awesome team.
                    </p>
                </div>
            </div>
            <div class="row d-md-flex mt-5 text-center">
                <div class="team col-sm-3 mt-2 wow fadeInLeft">
                    <img src="https://onepagetemplates.com/demos/comply/img/team-1.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                    <h5>John Deo</h5>
                    <p>CEO, Comply</p>
                </div>
                <div class="team col-sm-3 mt-2 wow fadeIn">
                    <img src="https://onepagetemplates.com/demos/comply/img/team-4.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                    <h5>Kathrine Kaif</h5>
                    <p>Marketing Head</p>
                </div>
                <div class="team col-sm-3 mt-2 wow fadeIn">
                    <img src="https://onepagetemplates.com/demos/comply/img/team-2.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                    <h5>Brandon Lee</h5>
                    <p>Lead Developer</p>
                </div>
                <div class="team col-sm-3 mt-2 wow fadeInRight">
                    <img src="https://onepagetemplates.com/demos/comply/img/team-3.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                    <h5>Inza Fererri</h5>
                    <p>Customer Care</p>
                </div>
            </div>
        </div>
    </section> -->

    <!--blog-->
    <!-- <section class="bg-faded" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                    <h2 class="text-primary">From Our Blog</h2>
                    <p class="lead pt-3">
                        The latest news from Comply blog.
                    </p>
                </div>
            </div>
            <div class="row d-md-flex mt-5">
                <div class="col-sm-4 mt-2 wow fadeIn">
                    <div class="card">
                        <img class="card-img-top" src="https://onepagetemplates.com/demos/comply/img/blog-1.jpg" alt="Image">
                        <div class="card-block">
                            <p class="card-text text-muted small-xl">
                                <em class="ion-ios-calendar-outline"></em> 22h ago &nbsp;&nbsp;
                                <em class="ion-ios-person-outline"></em> Kahtrine Kaif &nbsp;&nbsp;
                                <em class="ion-ios-time-outline"></em> 5min read
                            </p>
                            <h5 class="card-title"><a href="#">Comply version 5.0 is available now.</a></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-block text-right">
                            <a href="#" class="card-link"><strong>Read more</strong></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2 wow fadeIn">
                    <div class="card">
                        <img class="card-img-top" src="https://onepagetemplates.com/demos/comply/img/blog-2.jpg" alt="Image">
                        <div class="card-block">
                            <p class="card-text text-muted small-xl">
                                <em class="ion-ios-calendar-outline"></em> 1week ago &nbsp;&nbsp;
                                <em class="ion-ios-person-outline"></em> John Deo &nbsp;&nbsp;
                                <em class="ion-ios-time-outline"></em> 2min read
                            </p>
                            <h5 class="card-title"><a href="#">We celebrated our success with cake.</a></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-block text-right">
                            <a href="#" class="card-link"><strong>Read more</strong></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2 wow fadeIn">
                    <div class="card">
                        <img class="card-img-top" src="https://onepagetemplates.com/demos/comply/img/blog-3.jpg" alt="Image">
                        <div class="card-block">
                            <p class="card-text text-muted small-xl">
                                <em class="ion-ios-calendar-outline"></em> 1mon ago &nbsp;&nbsp;
                                <em class="ion-ios-person-outline"></em> Kathrine Kaif &nbsp;&nbsp;
                                <em class="ion-ios-time-outline"></em> 10min read
                            </p>
                            <h5 class="card-title"><a href="#">Connecting virtual reality with the people.</a></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-block text-right">
                            <a href="#" class="card-link"><strong>Read more</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--contact-->
    <section class="bg-texture-collage p-0" id="contact">
        <div class="container">
            <div class="row d-md-flex text-white text-center wow fadeIn">
                <div class="col-sm-4 p-5">
                    <!-- <p><em class="ion-ios-telephone-outline icon-md"></em></p>
                    <p class="lead"></p> -->
                </div>
                <div class="col-sm-4 p-5">
                    <p><em class="ion-ios-email-outline icon-md"></em></p>
                    <p class="lead">info@pixelmeters.com</p>
                </div>
                <div class="col-sm-4 p-5">
                    <!-- <p><em class="ion-ios-location-outline icon-md"></em></p>
                    <p class="lead">España, Madrid</p> -->
                </div>
            </div>
        </div>
    </section>

    
